= simple_form_for resource , :html => { :multipart => true } do |f|
  %div.errors
    = f.error_notification
  %fieldset.personal_data       
    %legend= t(:personal_data)
    = f.input :name
    = f.input :firstsurname
    = f.input :secondsurname
    <!-- = link_to (:photo), resource.photo.url--!>
    = f.input :photo
    = f.input :profession
    = f.association :idtype , :label =>false , :include_blank => false
    = f.input :idcode
    = f.input :birthdate, :as=>:string, :label => "F.Nac" 
    #{@edad} años
    = f.input :addres
    = f.input :zip
    = f.input :mobilephone
    = f.input :familyphone
    = f.input :homephone
    = f.input :email
  %fieldset.clinicalhistories_list
  <!-->    %legend=t(:clinicalhistories_list) --!>
  <!--    = f.simple_fields_for :assets do |asset| --!>
  <!--      = render 'asset_fieds', :f => asset --!>
  <!--    .links --!>
  <!-- = link_to_add_association t(:add_product), f, :assets --!>
  %fieldset.clinicalhistories_list
    %legend=t(:clinicalhistories_list)
    <!-- %li= link_to t(:new_clinicalhistory), :controller => 'pacientes', :action => 'new_clinicalhistory'-->
    #paciente_clinicalhistory_list
      = show_for resource do |item|
        = item.association :clinicalhistories, :collection_tag => :ul do |c|
          %li= link_to t(c.assessmentdate), :controller => "pacientes", :action => "edit", :clinicalhistory => c
  %fieldset.clinicalhistories_data
    %legend=t(:clinicalhistories_data)
    = show_for resource do |i|
      = i.association :clinicalhistories do |detail|
        = render 'clinicalhistory_fields', :builder => detail
    = f.button :submit
