.form
  = simple_form_for resource , :html => { :multipart => true } do |f|
    %div.errors
      = f.error_notification
    %fieldset.fieldset.span11 
      %legend.legend=t(:paciente)
      %a.btn.btn-info.btn-mini.show_hide{:href=>"#"}= t(:show)
      .controls.controls-row
        .span3= f.input :name, :input_html => {:class => "span3"}
        .span3= f.input :firstsurname, :input_html => {:class => "span3"}
        .span3= f.input :secondsurname, :input_html => {:class => "span3"}
        .span1= f.input :birthdate, :as=>:string, :label => "F.Nac", :input_html=>{:class=>'input-small'}
        = #{@edad} años
        .slidingDiv
          .span2= f.input :profession, :input_html => {:class => "span2"}
          .span4= f.input :photo
          .span2= f.input :idcode, :input_html => {:class => "span2"}
          .span1= f.association :idtype , :include_blank => false, :input_html =>{:class => "span1"}
          .span2= f.input :mobilephone, :input_html => {:class => "span2"}
          .span2= f.input :familyphone, :input_html => {:class => "span2"}
          .span2= f.input :homephone, :input_html => {:class => "span2"}
          .span4= f.input :addres, :input_html => {:class => "span4"}
          .span2= f.input :zip,:input_html => {:class => "span2"}
          .span4= f.input :email,:input_html => {:class => "span4"} 
    - if !@clinicalhistory.blank?
      %fieldset.fieldset.span3
        %legend.legend=t(:clinicalhistories_list)
        = show_for resource do |item|
          = item.association :clinicalhistories, :collection_tag => :ul do |c|
            %li
              = link_to t(c.assessmentdate), :controller => "pacientes", :action => "edit", :clinicalhistory => c
              = c.reasonconsultation
              = c.specialist
      %fieldset.fieldset.span7
        %legend.legend=t(:clinicalhistories_data)
        = simple_fields_for @clinicalhistory do |i|
          .form= render 'clinicalhistory_fields', :f => i
    = f.button :submit, :class => 'btn'

