- content_for :title, t(:pacientes)
%table.list.table-hover
  %thead
    %th.id= Paciente.human_attribute_name(:name)
    %th.id= Paciente.human_attribute_name(:firstsurname)
    %th.id= Paciente.human_attribute_name(:idtype_id)
    %th.id= Paciente.human_attribute_name(:mobilephone)
    %th.actions= t(:actions)
  %tbody.items.pacientes
    - collection.each do |resource|
      = content_tag_for(:tr, resource, :class => cycle(:odd, :even)) do
        %td.name= resource.try(:name)
        %td.name= resource.try(:firstsurname)
        %td.name= resource.try(:idtype_id)
        %td.name= resource.try(:mobilephone)
        %td
          = link_to('', edit_resource_path(resource),:class =>'icon-pencil')
          = link_to "", resource_path(resource), :class =>'icon-remove', :confirm => t(:are_you_sure?), :method => :delete
= paginate collection

