=show_for resource do |item|
  #basic_data
    = item.attribute :codigo
    = item.attribute :name
    = item.attribute :firstsurname
    = item.attribute :secondsurname
    = item.attribute :birthdate
    = item.attribute :profession
    = item.attribute :mobilephone
    = item.attribute :homephone
    = item.attribute :email
    = item.attribute :addres
  = link_to t(:edit), edit_resource_path(resource)
  = link_to t(:back), collection_path
