%fieldset.fielset
  %legend.legend t(:event)
  #event.form
    = simple_form_for resource do |f|
      .errors
        = f.error_notification
      .span12= f.association :paciente, :class => "chzn-select"
      .span3= f.input :name
      .span3= f.input :firstsurname
      .span5= f.input :secondsurname
      .span3
        = label_tag 'Día'
        = text_field_tag :dia, '', :id_element =>'dia', :class => "span3"
      .span1
        = label_tag 'Hora'
        = text_field_tag :hora, '', :id_element =>'hora', :class => "span1"
      .span3= f.association :center,:class => "chzn-select"
      .span5= f.association :specialist, :prompt=> t(:specialist), :class => "chzn-select"
      .span12= f.input :description,  :as=> :text, :input_html => { :rows => '3', :class => 'span5'}
      .span6
        = f.submit t(:new)
        %button{:onClick => "confirmar_cita()"} Confirmar asistencia
        %button{:onClick => "eliminar_cita()"} Eliminar cita
:javascript
  function confirmar_cita(){
    var event_id = $("#id").val();
    $.getJSON('/events/' + event_id + '/confirm', function(result) {
    });
  } 
  function eliminar_cita(){
    var event_id = $("#id").val();
    $.getJSON('/events/' + event_id + '/destroy', function(result) {
    });
  }
      
    
