%html
  %head
    %title FisioApp
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body
  %header
    .container-fluid
      #logo
      #title
        %h1
          %span.fisio FISIO
          %span.app APP
          %span.descripcion Gestión integral de pacientes
  - if user_signed_in?
    = render 'layouts/profile_menu'
  #wrapper_content.container
    -if notice
      %div.flash.notice= notice
    -if alert
      %div.flash.alert= alert
    -if !:title.blank?
      %h2= yield :title
    = yield
  #wrapper_footer
<!--        #version= t(:version_x, :version => FisioApp::VERSION)

